<!DOCTYPE html>
<html lang="en" class="[--scroll-mt:9.875rem] lg:[--scroll-mt:6.3125rem]">
{{template "common/head" .}}

<body class="antialiased text-slate-500 dark:text-slate-400 bg-white dark:bg-slate-900">
  <div class="relative max-w-5xl mx-auto pt-20 sm:pt-24 lg:pt-32">
    <h1
      class="text-slate-900 font-extrabold italic text-4xl sm:text-5xl lg:text-6xl tracking-tight text-center dark:text-white">
      {{call .Tr "home::title"}}
    </h1>
    <p class="mt-6 text-lg lg:text-xl text-slate-600 text-center max-w-3xl mx-auto dark:text-slate-400">
      {{call .Tr "home::tag_line"}}
    </p>
    <div class="mt-6 sm:mt-10 flex justify-center space-x-6 text-sm">
      <a class="bg-slate-900 hover:bg-slate-700 focus:outline-none focus:ring-2 focus:ring-slate-400 focus:ring-offset-2 focus:ring-offset-slate-50 text-white font-semibold h-12 px-6 rounded-lg w-full flex items-center justify-center sm:w-auto dark:bg-sky-500 dark:highlight-white/20 dark:hover:bg-sky-400"
        href="{{.Summary.DocsBasePath}}">
        {{call .Tr "home::get_started"}}
      </a>
    </div>
  </div>
</body>

</html>